* {
    padding: 0;
    margin: 0; } *


.titulo{
    display: flex;
    justify-content: center;
    color: white;
}

.body{
    background-color: gray;
}

.imagen__remeras{
    width: 435px;
    height: 435px;
}

.imagen__pantalones{
    width: 650px;
}

.imagen__buzos{
    width: 620px;
    height: 605px;
}

.imagen__zapatillas{
    width: 620px;
    height: 605px;
}